Malmo-0.35.6-Windows-64bit_withBoost_Python3.6/Minecraft/.gradle/
Malmo-0.35.6-Windows-64bit_withBoost_Python3.6/Minecraft/run/saves/TEMP_*
Malmo-0.35.6-Windows-64bit_withBoost_Python3.6/Minecraft/run/usercache.json

*.log.gz
*.dat
*.jar
